<div class="col-sm-6 commentaire reponse  justify-reponse " id="col511">
            			    
    	   	                   <div class="card" style="position:relative;">
            					    <div class="card-body reponse-hide">
            					      <div class="content en-attente">
                					    	<div>
                					    		 <i class="fa fa-reply"></i> 
                					     	</div>
                					     	<div class="QE">
                					     	     Répondre
                					     	</div>   	
            					      </div>
            					    
            				                    					                   					                   				                    					    
            					  </div>
            					  <textarea class="area-enseignant-reponse" name="message" style="display: none;"></textarea>
            				  </div>
    		              </div> 
            	                 
                 		     	
        </div>

<div class="row">
                <div class="  button-envoyer-left  col-sm-6 ">
                       
                </div>
                <div class=" button-envoyer-right   button-reponse col-sm-6  col" style="display: none;">
                      <button type="submit" class="btn btn-primary btn-sm button">
                          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                      Envonyer</button>		      
                </div>
            </div>