{% extends 'base.html.twig' %}


{% block body %}
    
<style>
    
</style>

<form  method="post" action="{{ path('info_piece') }}" enctype="multipart/form-data">
    {#Select image to upload:#}
    {#<input type="file" name="fileToUpload" id="fileToUpload">#}
    <label for="files">Select files:</label>
    <input type="file" id="files" name="files[file][]" multiple><br><br>
    <input type="submit" value="Upload Image" name="submit">
</form>

<a href="{{ asset('uploads/filesReclamation/' ~ '82c00c89bb479cbf15a53c8172b22157.jpeg') }}">View brochure </a>

{% set foo = "82c00c89bb479cbf15a53c8172b22157.jpeg|82c00c89bb479cbf15a53c8172b22157.jpeg|a1472e65d8fa4e4389f089abbcef7878.jpeg|b584c8fc6ab53c7256d390ff3ecf4223.txt|fb91cf5d42c437738c8a883554b9f69a.pdf|20d747880bd5ad8599b6c767bbc75a47.xlsx"|split('|') %}
{% for f in foo %}
<br>
        <a href="{{ asset('uploads/filesReclamation/' ~ f ) }}" target="_blank">View brochure </a>
    {% endfor %}

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
          

    
    </script>  



{% endblock %}